.cmaketext input[type=text], .cmaketext textarea, .cmaketext select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.cmaketext input[type=text] {
    width: 100%;
}
.cmaketext select{
    margin-right: 10px;
}
.cmaketext input[type=submit], .cmaketext .btn, .cmaketext input[type=button]{
    background: #59C;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.cmaketext input[type=submit]:hover,.cmaketext .btn:hover, .cmaketext input[type=button]:hover{
    background: #59E;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    cursor: pointer;
}
.cmaketext .apache2 {
    float: right;
}
.cmaketext .apache2:hover{
    background-color: #D40202;
}
.cmaketext .apache2 {
    background-color: #AD0202;
}
.cmaketext .tablesorter.custom td {
    text-align: center;
}
.cmaketext .tablesorter.custom th {
    border: 1px solid #FFF;
    background-color: #59C;
    color: #FFF;
    display: table-cell;
    text-align: center;
    padding: .75em;
    margin: .5em 1em;
}
.cmaketext .tablesorter thead tr .header { 
    background-image: url(../../JQTableSorterPlugin/styles/bg_white.gif); 
}
.cmaketext .tablesorter thead tr .headerSortDown {
    background-image: url(../../JQTableSorterPlugin/styles/desc_white.gif);   
}
.cmaketext .tablesorter thead tr .headerSortUp {
    background-image: url(../../JQTableSorterPlugin/styles/asc_white.gif);   
}
.cmaketext i.fa-trash{
    padding-left: 10px;
    cursor: pointer;
}
.sweet-alert p{
    margin-bottom: 30px !important;
}
.sweet-alert h2{
    border-width: 0px;
}
.sweet-alert hr{
    height: 0px !important;
}
